<%=content_for :titulo do%>
Nossos Sistemas
<%end%>
    <div class="row">
        <% Sistema.all.each do |s|%>
        <div class="col-lg-4 col-sm-6 text-center">
           <%= image_tag s.imagem, :class=>"img-circle img-responsive"%>
            <h3><%=s.sigla%><br/>
                <small><%=s.nome%></small>
            </h3>
            <p><%=s.descricao.truncate(150)%></p>
        </div>
        <% end %>
    </div>
